body {
    font-size: 155%;
}
.indent {
    margin-left: 3%;
}
h2 {
    color: red;
}
table {
    width: 90%;
    border: 4px solid lightgray;
    margin-left: 5%;
    font-size: 135%
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.shadow {
    background-color: lightgray;
}
#square {
    list-style: square;
}
#dot {
    list-style: circle;
}
.border {
    border-style: double;
    border-width: .3em;
    border-radius: 25px;
    padding: 20px;
    width: 90%;
}